.hidden-button{
    font-size: $p4;
    color:$second-color;
    position: relative;
    right: 10px;
    

    p{
        display: flex;
        align-items: center;
        text-align: center;
    }
    span{
        height: 30px;
        width: 30px;
        content: url(/src/assets/icons/eye-off.svg);
    }
}