li{
    width: 231px;
    min-height: 53.5px;
    margin: 17px;
    background-color: white;
    font-size: $p5;
    color: $second-color;
    display: grid;
    display: grid;
    grid-template-columns: 39px 163px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    justify-content: space-between;
    box-shadow: 0px 8px 12px rgba(52, 87, 140, 0.12);
    border-radius: 11px;

    p{
        padding-top: 10px;
        text-align: start;
    }

    .checkp{
        color: $third-color;
        text-decoration-line: line-through;
    }
     .x{
     width: 11px;
     height: 11px;
     content: url('/public/icons/x.svg') ;
     position: static;
     top:5px;
     right: 5px;
     opacity: 60%;
     }

     .x-check{
        content: url('/public/icons/x2.svg') ;
        }

     .button{
        content: url('/public/icons/circle.svg');
        position: relative;
        left: 12px;
        align-self: center;
        width: 24px;
        height: 24px;
     }
     .button-check{
        content: url('/public/icons/check.svg');
     }
}